.clear{
	clear: both;
}
body{
    color: #212121;
}

h3{
    color: #1a237e;
}

p{
    color: #212121;
    font-size: 1rem;
}

input {
    width: 75%;
}

textarea{
    width: 75%;
}

.borda {
    border: 0.5px solid black;
}

#Menu_mobile{
    display: none;
    background-color: #1a237e ;
}

#Menu_desktop{

    background-color: #1a237e ;
    color: #d6bb0e;
   /* display: none;*/

}

#Menu_desktop a{
    text-decoration: none;
    color: #d6bb0e;
    font-size: 1rem;
    font-weight: bold;
}

#Menu_desktop li:hover {

    background-color: #283593 ;

}

#Menu_desktop_logo{
    display: flex;
    height: 3rem;
    
}

#Menu_desktop_logo img {

    margin: 1.5rem;
    width: 9rem;
    height: 3rem;
    display: none;
    
}

#Menu_desktop_lista li{
    display: inline-block;
    padding: 1.5rem;

}

.conteudo{
    padding-top: 4.5rem;
    height: 39rem;
}


.card{
    font-size:0.80rem;
    color: #212121;
    cursor: pointer;
}

#Servicos{
    padding-top: 4rem;
}

#Servicos .tit{
    padding-left: 7rem;
}

#Galeria{
    padding-top: 3rem;
    padding-left:6rem;
}

#Galeria figure{

    max-height: 13rem;


}

#Galeria figure:hover{
    opacity: 0.5;
    
}

.circulo{
    margin: 0 auto;
    display: block;
    height:13rem ;
    width: 13rem ;
    border-radius: 6.5rem;
    -o-border-radius:6.5rem;
    -moz-border-radius:6.5rem;
    margin-bottom: 2rem;
    background-size: cover;
    background-position:50% 50%;
    background-repeat:no-repeat; 
}

.circulo:hover{
    opacity: 0.3;
}

#img_piso{
    background-image: url('Fotos/WhatsApp Image 2020-04-13 at 12.04.57.jpeg');
}

#img_pintura{
    
    background-image: url('Fotos/david-pisnoy-46juD4zY1XA-unsplash.jpg');
}

#img_construcao{

    background-image: url('Fotos/WhatsApp Image 2020-04-13 at 12.10.04.jpeg');

}

#img_hidro{
    background-image: url('Fotos/samuel-sianipar-scUBcasSvbE-unsplash.jpg');


}

#img_eletro{
    background-image: url('Fotos/ashes-sitoula-UfEyDdXlRp8-unsplash.jpg');
    
}

#img_acabamento{

    background-image: url('Fotos/WhatsApp Image 2020-04-13 at 12.04.59 (1).jpeg');

}

#img_manutencao{
    background-image: url('Fotos/guilherme-cunha-0ZOtNzDVUZg-unsplash.jpg');

}


#Portfolio .card{
    margin-bottom: 2rem;
}

.card img{
    max-width: 75%;
    margin: 2rem auto;
}

#vejaMais{
    margin-top: 20rem;
}

#Banner_row{
    background-color: #1a237e;
    background-image: url('Imagens/Banner2.png');
    background-size: cover;
    background-position: bottom;
    height: 40rem;
    display: flex;
    
}

h4 a {
    margin-top: 2rem;
    color: #1a237e;
    font-size: 1.25rem;

}

#logo_img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    width: 30%;
    height: 30%;
}

.controle{
	padding: 0.5rem;
	background-color:  #1a237e;
}


.card h4{
    padding: 1rem;
    color: #1a237e;
}

.carousel-indicators{
    margin-bottom: -1.5rem;
    background-color:  #1a237e;
    padding: 0rem;
    visibility: hidden;
   
}

#Sobre {
    padding-top: 4rem;
    margin: 0rem 7rem;
}


#rodape{
    margin-top: 2rem;
    background-color: #1a237e;
}

#rodape p{
    color: #d6bb0e;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;

}


.servicos h5 {
    color: #1a237e;
}
.servicos img{
    margin: 1rem 0;
    max-height: 25rem;
}
.titulo {
    background-image: url('marcadores/fundo_bolinha.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    padding: 0.5rem;
    margin-left: -0.75rem;
}

.titulo h3{
    margin-left: 0.75rem;
}

.servicos ul{
    list-style-image: url('marcadores/marcador.svg');
}

.servicos li{
    padding: 0.5rem 0rem;;
}

.botao{
    cursor: pointer;
    width: 15rem;
    padding:0.5rem;
    background-color: #d6bb0e;
    border-radius: 30rem;
}
.botao p{

    color: white;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-weight: bold;
}
#Diferenciais{
    padding-top: 4rem;
    padding-left: 6.5rem;
}
#Contato{

    margin-top: 3rem;
    margin-left: 6.5rem;
    margin-bottom: 2rem;
}

/* large - display 3 */
.carousel-inner.vv-3 .carousel-item.active,
.carousel-inner.vv-3 .carousel-item-next,
.carousel-inner.vv-3 .carousel-item-prev {
	display: flex;
}

@media (min-width:992px){
	.carousel-inner.vv-3 .carousel-item-right.active,
	.carousel-inner.vv-3 .carousel-item-next {
	transform: translateX(33%);
	}

	.carousel-inner.vv-3 .carousel-item-left.active,
	.carousel-inner.vv-3 .carousel-item-prev {
	transform: translateX(-33%);
	}

	.carousel-inner.vv-3 .carousel-item-right,
	.carousel-inner.vv-3 .carousel-item-left {
	transform: translateX(0%);
	}
}


@media screen and (max-width:1024px){

	#Menu_desktop{
		display: none;
	}

	#Menu_mobile{
        display: block;
        background-color: #1a237e ;
	}

	#Menu_mobile p{
		display: inline;
		float: center;

	}

	#Menu_mobile  h3{
		cursor: pointer;
		color: #d6bb0e;
		position: absolute;
		right: 2rem;
		top: 1rem;
	}

	#Menu_mobile  ul{
		position: absolute;
		top: 4rem;
		right: 0.5rem;
		list-style: none;
		width: 104%;
		display: none;
	}
	#Menu_mobile  li{
		border: 1px solid #d6bb0e;
		padding: 1rem 2rem;
		background-color:#1a237e ;
		
	}

	#Menu_mobile  li:hover{

		background-color:#283593;
		
    }

    #Servicos .tit{
        padding-left: 3rem;
    }
    
    
    #Menu_mobile a {
        color:#d6bb0e;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
    }

    #logo_img{
        margin-left: auto;
        margin-right: auto;
        margin-top: 7rem;
        width: 50%;
        height: 50%;
    }

    #Dados_contato{
        padding-top: 3rem;
    }


    


    #vejaMais{
        margin-top: 0rem;
    }

    #Sobre {
        padding-top: 4rem;
        margin: 0rem 2rem;
    }

    #Contato {
        padding-top: 4rem;
        margin: 0rem 2rem;
    }

    #Galeria {
        padding-top: 4rem;
        margin: 0rem 2rem;
        padding-left: 0rem;
    }

    #Diferenciais {
        padding-top: 4rem;
        margin: 0rem 0rem;
        padding-left: 2rem;
    }


}